model/resources/runs/train/exp24/weights/best.onnx filter=lfs diff=lfs merge=lfs -text
model/resources/runs/train/exp24/weights/best.pt filter=lfs diff=lfs merge=lfs -text
model/resources/weights/yolov5x.pt filter=lfs diff=lfs merge=lfs -text
